body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
 
    
}
section{
    height: 95vh;
    text-align: center;
}
.big-text{
    font-size: 70px;
}
.header-description{
    padding: 0 20%;
    font-size: 25px;
}    

.top-section{
  background-image: url(donate-today-main/images/donation9.jpg);
  background-repeat:no-repeat;
  background-size: cover;

  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px black;
  padding-top: 7%;
}
.button{
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    text-shadow: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
   background-color: rgb(255, 120, 71);
    padding: 10px 15px;
    border-bottom:2px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.mid-text{
    font-size: 50px;
    font-weight:bolder;
}
.flexible-container{
    display:flex;
    justify-content: center;
}
.money-box{
    background-color: rgb(217, 217, 217);
    width: 150px;
    margin: 50px 20px 0;
    padding: 20px 0;
    border: 2px solid grey;
    border-radius: 20px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: dimgray;
}
#special-box{
background-color: rgb(255, 205, 187);
border: 5px solid rgb(255, 120, 71);
}
.input-field{
    margin-top: 5%;
}
.input-field input{
    width: 40%;
    height: 40px;
    border: none;
    border-bottom:2px dashed dimgray;
}
.second-button{
    margin-top: 2%;
}
